.project-box {
    position: relative;
}
.project-btn {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project-box:hover .project-btn {
    opacity: 1;
}

/* .project-box:hover .project-img{
    opacity: 0.3;
    transition: .3s;
} */
.project-content {
    box-shadow: 5px 5px 15px #b3b3b3;
    padding: 10px;
    border-radius: 5px;
}
.project-content .project-title{
    color: #ff6347;
}

.screen {
    display: block;
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    border: 1px solid #b3b3b3;
    border-radius: 1px;
    margin: 0 auto;
}

.screen img {
    left: 0;
    bottom: -550px;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: top 11s;
    -moz-transition: top 11s;
    -ms-transition: top 11s;
    -o-transition: top 11s;
    transition: bottom 50s;
}

.screen:hover img {
    bottom: 0;
    -webkit-transition: all 11s;
    -moz-transition: all 11s;
    -ms-transition: all 11s;
    -o-transition: all 11s;
    transition: all 11s;
}