.service-info{
    padding: 10px;
    margin: 10px ;
    text-align: center;
    color: #16153a;    
    border-radius: 10px;
    background-color: #fffdfdda;
}
.service-info:hover{
    box-shadow: 5px 5px 15px #b3b3b3;
    transition: 0.3s;
}
.service-info:hover .icon{
    color: #ff6347;
    transition: 0.5s;
}
.service-info .icon{
    font-size: 50px;
    margin-top: 15px;
}