.App {
  text-align: center;
}
.bg-color{
  background-color: #16153a;
  color: #fff;
}

.text-brand{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding: 10px 0;
  text-transform: uppercase;
  color: #ff6347;
}
.text-medium{
  text-align: center;
  font-weight: 700;
}

.link-style{
  color: #fff;
}
.link-style:hover{
  text-decoration: none;
}
.logo{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #ff6347;
}
.project-btn .btn-project{
  background: #ff6347;
  padding: 8px 20px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
}
ul{
  padding: 0;
}
li{
  list-style: none;
}



.btn-brand {
 padding: 15px 30px;
  border: 2px solid #fff;
  background-color: none;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  background: transparent;
}

.btn-brand:hover{
  background-color: #fff;
  border: 2px solid #ff6347;
  transition: 0.5s;
}

.btn-brand:hover .link-style{
  color: #ff6347;
}

/*------------Styling button-------*/
