.App {
  text-align: center;
}
.bg-color{
  background-color: #16153a;
  color: #fff;
}

.text-brand{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding: 10px 0;
  text-transform: uppercase;
  color: #ff6347;
}
.text-medium{
  text-align: center;
  font-weight: 700;
}

.link-style{
  color: #fff;
}
.link-style:hover{
  text-decoration: none;
}
.logo{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #ff6347;
}
.project-btn .btn-project{
  background: #ff6347;
  padding: 8px 20px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
}
ul{
  padding: 0;
}
li{
  list-style: none;
}



.btn-brand {
 padding: 15px 30px;
  border: 2px solid #fff;
  background-color: none;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  transition: 0.3s;
}

.btn-brand:hover{
  background-color: #fff;
  border: 2px solid #ff6347;
}

.btn-brand:hover .link-style{
  color: #ff6347;
}
/*------------Styling button-------*/

/* .btn-brand {
  width: 150px;
  height: 50px;
  border: 2px solid rgb(38, 75, 241);
  font-family: 'Cinzel', serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.btn-brand::before, .btn-brand::after {
  position: absolute;
  background: #ff6347;
  z-index: -1;
  transition: 1s;
  content: '';
}

.btn-brand::before {
  height: 50px;
  width: 130px;
}

.btn-brand::after {
  width: 150px;
  height: 30px;
}

.noSelect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn-brand:hover::before {
  width: 0px;
  background: #fff;
}

.btn-brand:hover::after {
  height: 0px;
  background: #fff;
}

.btn-brand:hover {
  background: #fff;
} */


